.header {
  display: flex;
  flex-direction: row;
  height: 4rem;
  align-items: center;
  box-shadow: 0 0 16px #00000024;
  justify-content: space-around;
}

.userProfileBox {
  border: none;
  background-color: transparent;
  padding: none;
  border-radius: 50%;
  cursor: pointer;
}

.profileDropdown {
  display: flex;
  background-color: white;
  flex-direction: column;
  border-radius: 0.25rem;
  border: none;
}

.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: black;
}

.divider {
  margin: 0;
}
