.messageScreen {
  display: flex;
  flex-direction: column;
  width: 57vw;
}

.messageList {
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  padding: 1rem;
}
