.container {
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: none;
  background-color: rgba(255, 0, 0, 0.1);
  max-width: calc(100% - 2rem);
  margin: auto;
}

.message {
  color: black;
  border-left: 0.2rem solid red;
  margin: 0;
  padding: 0.25rem 0.75rem;
  text-align: left;
}
