.container {
  width: 600px;
  max-width: 100%;
  margin: auto;
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.cardImage {
  width: 100%;
  background-color: #efefef;
  aspect-ratio: 4/3;
  object-fit: contain;
}
