.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContent {
  width: 80vw;
  max-height: calc(100vh - 4rem);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  gap: 0.5rem;
}

.imageContainer {
  width: 50%;
  text-align: end;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.previewImage {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: contain;
  background-color: #fafafa;
}

.postDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-end;
}

.captionTextArea {
  width: 100%;
  padding: 0.5rem 0.75rem;
}
